<h1>Enter your new password</h1>
<form action="/api/auth/resset-pass" method="post" class="row g-3">
    <input type="hidden" name="crypt" value="Vasya" id="rese">
    
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" name="newPass" class="form-control" id="inputPassword2" value="" placeholder="Введите новый пароль">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3"id="res">Chenge Password</button>
  </div>
</form>
