<header id="heade">
    <div class="header-left">
         <a 
         href="/">
        🅲🆂🆅 🆃🅾🅴🆇🅲🅴🅻 
        {{!-- <img src="/img/promotag.svg" alt="logotype"> --}}
        </a>
    </div>
    
    <div class="header-right">
        <ul class="menu-links" id="nav-menu">
            <li  class="nav-item"><a href="/">Головна</a></li>
            <li  class="nav-item"><a href="/api/auth/start">Генератор</a></li>
            <li  class="nav-item"><a href="/about">Про нас</a></li>
            <li  class="nav-item"><a href="/contacts">Контакти</a></li>
            <li  class="nav-item hidden" id="writepaying" ><a href="/writepaying">Оплата</a></li>
            {{!-- <li  class="nav-item" id="reg"><a href="/registration">Регистрация</a></li> --}}
            <li  class="nav-item" id="enter"><a href="/enter">Вхід</a></li>
            <li  class="nav-item hidden" id="cabinet"><a href="/cabinet">Кабінет</a></li>
            <li  class="nav-item hidden" id="logout"><a href="/api/auth/logout">Вихід</a></li>
        </ul>
    </div>
    <div class="icon" id="icon"><i class="fa-solid fa-bars"></i></div>
</header>


