<div class="about-main-section">

    <h1>Про нас</h1>
    <p>Наш сайт разиіщено за адресою: http://localhost:5000</p>

    <h3>Куки</h3>
    <p>
        При входе в учетную запись мы также 
        устанавливаем несколько куки с данными входа и 
        настройками экрана. Куки входа хранятся в течение 
        двух дней, куки с настройками экрана – год. 
        Если вы выберете возможность “Запомнить меня”, 
        данные о входе будут сохраняться в течение 
        двух недель. При выходе из учетной записи куки 
        входа будут удалены.
    </p>

    <h1>Користувача угода</h1>

    <h2>1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h2>

    <p>1.1. Дана Угода користувача (далі – Угода) відноситься до сайту «CSV TO EXCEL» «csvtoexcel.com.ua» (далі – Сайт), розташованого за адресою <a href="/">http://localhost:5000/</a>.</p>
    <p>1.2. Фізична особа Воловенко Володимир Георгійович (далі – Администрація сайту) пропонує користувачеві мережі Інтернет (далі – Користувач) використовувати свій Сайт на умовах, викладених у цій Угоді. Угода набирає чинності з моменту вираження Користувачем згоди з його умовами у порядку, передбаченому п. 1.4 Угоди.</p>
    <p>1.3. Використання Сайту регулюється цією Угодою та Політикою конфіденційності (<a href="privacy-policy">https://itchief.ru/privacy-policy</a>). Угода може бути змінена Адміністрацією сайту без будь-якого спеціального повідомлення, нова редакція Угоди набирає чинності з моменту її розміщення в мережі Інтернет за вказаною адресою: <a href="user-agreement">http://itchief.ru/user- agreement</a>.
</p>
    <p>1.4. Починаючи використовувати будь-яку сторінку або пройшовши процедуру реєстрації, Користувач вважається таким, що прийняв умови Угоди в повному обсязі, без жодних застережень і винятків. У разі незгоди Користувача з будь-яким із положень Угоди, Користувач не має права використовувати Сайт. У разі якщо Адміністрацією сайту було внесено будь-які зміни до Угоди у порядку, передбаченому пунктом 1.3 Угоди, з якими Користувач не погоджується, він зобов'язаний припинити використання Сайту.
</p>
    
    <h2>2. ПРЕДМЕТ ЗГОДИ/УГОДИ(?)</h2>
    
    <p>2.1. Предметом цієї Угоди є надання Користувачеві доступу до  послуги з генерації ключових слів (далі - Теги), що міститься на Сайті, які необхідні Користувачеві для його цілей.</p>
    <p>2.2. Використання матеріалів та сервісів Сайту регулюється нормами чинного законодавства України.</p>
    <p>2.3. Администратор має право доповнбвати та змінювати ці положення, попередивши користувачя листом на вказаний користувачем email протягом реєстрації .</p>
    

    <h2>3. РЕЄСТРАЦІЯ КОРИСТУВАЧА. ВИМОГИ ДО ЛОГІНУ ТА ПАРОЛЯ</h2>
    
    <p>3.1. Реєстрація Користувача на Сайті є добровільною та надає наступні переваги:</p>
    <p>3.1.1. Мати доступ до оплати послуги генератора тегів;</p>
    <p>3.1.2. Отримувати Розсилку Сайту на вказаний email протягом реєстрації. При отриманні Розсилки надаєтся змога відмовитись від Розсилки.</p>
    <p>3.3. Процедура реєстрації на сайті ІТ "ШЕФ" складається із введення логіна (адреси email),  пароля та його підтвердження.</p>
    <p>3.4. Логін має бути існуючою адресою електронної пошти.</p>
    <p>3.5. Пароль повинен мати не меньш восьми символів, які складаються з великих та маленьких літер латинського алфавіту та цифр.</p>
    
    <h2>4. ПРАВИЛА ОПЛАТИ ПОСЛУГИ ГЕНЕРАТОРА ТЕГІВ</h2>
    
    <p>4.1. Оплата послуги генератора тегів є добровільною та надає користувачеві наступні переваги:</p>
    <p>4.1.1. Завантажувати до Сайту свій файл товарних позицій сайту Prom.ua з розширенням .csv, змінювати його на файл з розширенням .xlsx, генерувати нові теги, та скачувати цей змінений файл до свого комп'ютера</p>

    <p>4.2. Завантажений файл не повинен мати більш ніж 100 (сто) товарних позицій.</p>
    <p>4.3. Файл повинен мати розширення .csv .</p>
    <p>4.4. Якщо Користувач не буде дотримуватись вишнвказанних правил, йго файл не хавантажиться для генерації тегів і Користувач не отримає цю послугу.</p>
    
    <h2>5. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН</h2>
    
    <p>5.1. Администратор сайту має право:</p>
    <p>5.1.1. Изменять правила пользования Сайтом, а также изменять содержимое данного Сайта. Изменения вступают в силу с момента публикации этого материала.</p>
    <p>5.1.2. Удалять учетные записи Пользователей.</p>
    <p>5.1.3. Удалять комментарии и вопросы Пользователей.</p>
    <p>5.1.4. Отказывать в регистрации без объяснения причины.</p>
    <p>5.2. Пользователь имеет право:</p>
    <p>5.2.1. Пользоваться имеющейся на Сайте информацией.</p>
    <p>5.2.2. Задавать вопросы и оставлять комментарии к статьям после регистрации и авторизации.</p>
    <p>5.2.3. Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.</p>
    <p>5.3. Пользователь Сайта обязуется:</p>
    <p>5.3.1. Соблюдать права авторов и иных правообладателей при использовании Сайта.</p>
    <p>5.3.2. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</p>
    <p>5.3.3. Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах.</p>
    <p>5.3.4. Не размещать и/или не распространять контент, который является незаконным, вредоносным, клеветническим, оскорбляет нравственность, демонстрирует (или является пропагандой) насилия и жестокости, нарушает права интеллектуальной собственности, пропагандирует ненависть и/или дискриминацию людей по расовому, этническому, половому, религиозному, социальному признакам, содержит оскорбления в адрес каких-либо лиц или организаций, содержит элементы (или является пропагандой) порнографии, детской эротики, представляет собой рекламу (или является пропагандой) услуг сексуального характера (в том числе под видом иных услуг), разъясняет порядок изготовления, применения или иного использования наркотических веществ или их аналогов, взрывчатых веществ или иного оружия.</p>
    <p>5.3.5. Не представлять себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за Администрацию данного сайта.</p>
    <p>5.3.6 Не использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Сайта или других лиц.</p>
    
    <h2>6. ИСПОЛЬЗОВАНИЕ САЙТА</h2>
    
    <p>6.1. Сайт и содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта.</p>
    <p>6.2. Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.</p>
    <p>6.3. Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.</p>
    <p>6.4. Пользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля или любом другом нарушении системы безопасности.</p>
    
    <h2>7. ОТСУТСТВИЕ ГАРАНТИЙ, ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h2>
    
    <p>7.1. Пользователь использует Сайт на свой собственный риск. Администрация ресурса не принимает на себя никакой ответственности за содержание и достоверность информации, публикуемой на Сайте. Сайт предоставляются «как есть».</p>
    <p>7.2. Цитирование материалов Сайта разрешается только при обязательном указании активной гиперссылки на Сайт. Полное заимствование документа не разрешается и является нарушением российского и международного законодательства.</p>
    <p>7.3. Любая информация и/или материалы (в том числе загружаемые программы, какие-либо инструкции и руководства к действию и т.д.), доступ к которым Пользователь получает с использованием Сайта, Пользователь может использовать на свой собственный страх и риск и самостоятельно несет ответственность за возможные последствия использования указанных информации и/или материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим лицам, за потерю данных или любой другой вред.</p>
    <p>7.4. Сайт не несет ответственности за любые виды убытков, произошедшие вследствие использования Пользователем материалов Сайта.</p>
    
    <h2>8. ИНЫЕ ПОЛОЖЕНИЯ</h2>
    
    <p>8.1. Комментарии и вопросы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.</p>
    <br>
    
    <p><em>Дата публикации: 25.07.2017 г.</em></p>
</div>