<div class="about-main-section">

    <h1>Про нас</h1>
    <p>Наш сайт разиіщено за адресою: http://localhost:5000</p>

    <h3>Куки</h3>
    <p>
        При входе в учетную запись мы также 
        устанавливаем несколько куки с данными входа и 
        настройками экрана. Куки входа хранятся в течение 
        двух дней, куки с настройками экрана – год. 
        Если вы выберете возможность “Запомнить меня”, 
        данные о входе будут сохраняться в течение 
        двух недель. При выходе из учетной записи куки 
        входа будут удалены.
    </p>

    <h1>Пользовательское соглашение</h1>

    <h2>1. ОБЩИЕ ПОЛОЖЕНИЯ</h2>

    <p>1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту ИТ ШЕФ «itchief.ru» (далее – Сайт), расположенному по адресу <a href="/">https://itchief.ru</a>.</p>
    <p>1.2. Физическое лицо Мальцев Александр Михайлов (далее – Администрация сайта) предлагает пользователю сети Интернет (далее – Пользователь) использовать свой Сайт на условиях, изложенных в настоящем Соглашении. Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.</p>
    <p>1.3. Использование Сайта регулируется настоящим Соглашением и Политикой конфиденциальности (<a href="privacy-policy">https://itchief.ru/privacy-policy</a>). Соглашение может быть изменено Администрацией сайта без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному адресу: <a href="user-agreement">http://itchief.ru/user-agreement</a>.</p>
    <p>1.4. Начиная использовать какую-либо страницу, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать Сайт. В случае если Администрацией сайта были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование Сайта.</p>
    
    <h2>2. ПРЕДМЕТ СОГЛАШЕНИЯ</h2>
    
    <p>2.1. Предметом настоящего Соглашения является предоставление Пользователю доступа к содержащейся на Сайте информации по информационным технологиям: Bootstrap, HTML, CSS, JavaScript, PHP, CMS MODX и др.</p>
    <p>2.2. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
    
    <h2>3. РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ. ТРЕБОВАНИЯ К ИМЕНИ И АВАТАРУ</h2>
    
    <p>3.1. Регистрация Пользователя на Сайте является добровольной и даёт следующие преимущества:</p>
    <p>3.1.1. Оставлять комментарии и вопросы;</p>
    <p>3.1.2. Иметь свой профиль, в котором просматривать свои оставленные комментарии, вопросы и списки избранных материалов.</p>
    <p>3.2. Процедура регистрации на сайте ИТ "ШЕФ" состоит из ввода имени (ника), адреса email и его подтверждения.</p>
    <p>3.3. Имя (ник), который идентифицирует Пользователя при оставлении комментариев и вопросов не должен содержать в себе ненормативную лексику, религиозные термины, оскорбления и т.п.</p>
    <p>3.4. Аватар (не обязательный атрибут) - это изображение (фото), которое будет отображаться рядом с именем Пользователя. Устанавливать Пользователю в качестве аватара нецензурные изображения запрещено.</p>
    
    <h2>4. ПРАВИЛА ОСТАВЛЕНИЯ КОММЕНТАРИЕВ И ВОПРОСОВ</h2>
    
    <p>4.1. Пользователю при оставлении комментариев и вопросов на Сайте запрещается использовать ненормативную лексику, грубые выражения, обзывательства, угрозы (на демографической, национальной, религиозной или политической основе), информацию сексуального характера, материалы рекламного или коммерческого характера, а также другую информацию, противоречащую законодательным нормам Российской Федерации. Пользователь должен соблюдать уважительную форму при оставлении комментариев и вопросов.</p>
    <p>4.2. Запрещается публикация как прямых, так и скрытых ссылок на другие ресурсы сети (исключениями могут являться ссылки на различные инструменты, официальную документацию, скриншоты и т.п.).</p>
    <p>4.3. При создании вопроса зарегистрированный Пользователь должен придерживаться следующих рекомендаций: в заголовке необходимо выражать только суть (название) проблемы, а в содержимом вопроса помещать полное описание проблемы. Постарайтесь писать грамотно, код оформляйте элементом code (<code>&lt;code&gt;</code>...<code>&lt;/code&gt;</code>), а также используйте элемент <code>cut</code> (<code>&lt;cut&gt;</code>). Элемент <code>cut</code> используется для определения той части содержимого вопроса (до элемента <code>cut</code>), которое будет выведено вместе с его заголовком на главной странице "Вопросы".</p>
    <p>4.4. За нарушение правил при оставлении комментариев и вопросов Пользователем на сайте ИТ "ШЕФ", Администрация сайта оставляет за собой право редактировать и удалять эти сообщения. При неоднократных нарушениях правил при оставлении комментариев и вопросов Администрация сайта имеет право заблокировать учётную запись Пользователя.</p>
    
    <h2>5. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h2>
    
    <p>5.1. Администратор сайта имеет право:</p>
    <p>5.1.1. Изменять правила пользования Сайтом, а также изменять содержимое данного Сайта. Изменения вступают в силу с момента публикации этого материала.</p>
    <p>5.1.2. Удалять учетные записи Пользователей.</p>
    <p>5.1.3. Удалять комментарии и вопросы Пользователей.</p>
    <p>5.1.4. Отказывать в регистрации без объяснения причины.</p>
    <p>5.2. Пользователь имеет право:</p>
    <p>5.2.1. Пользоваться имеющейся на Сайте информацией.</p>
    <p>5.2.2. Задавать вопросы и оставлять комментарии к статьям после регистрации и авторизации.</p>
    <p>5.2.3. Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.</p>
    <p>5.3. Пользователь Сайта обязуется:</p>
    <p>5.3.1. Соблюдать права авторов и иных правообладателей при использовании Сайта.</p>
    <p>5.3.2. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</p>
    <p>5.3.3. Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах.</p>
    <p>5.3.4. Не размещать и/или не распространять контент, который является незаконным, вредоносным, клеветническим, оскорбляет нравственность, демонстрирует (или является пропагандой) насилия и жестокости, нарушает права интеллектуальной собственности, пропагандирует ненависть и/или дискриминацию людей по расовому, этническому, половому, религиозному, социальному признакам, содержит оскорбления в адрес каких-либо лиц или организаций, содержит элементы (или является пропагандой) порнографии, детской эротики, представляет собой рекламу (или является пропагандой) услуг сексуального характера (в том числе под видом иных услуг), разъясняет порядок изготовления, применения или иного использования наркотических веществ или их аналогов, взрывчатых веществ или иного оружия.</p>
    <p>5.3.5. Не представлять себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за Администрацию данного сайта.</p>
    <p>5.3.6 Не использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Сайта или других лиц.</p>
    
    <h2>6. ИСПОЛЬЗОВАНИЕ САЙТА</h2>
    
    <p>6.1. Сайт и содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта.</p>
    <p>6.2. Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.</p>
    <p>6.3. Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.</p>
    <p>6.4. Пользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля или любом другом нарушении системы безопасности.</p>
    
    <h2>7. ОТСУТСТВИЕ ГАРАНТИЙ, ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h2>
    
    <p>7.1. Пользователь использует Сайт на свой собственный риск. Администрация ресурса не принимает на себя никакой ответственности за содержание и достоверность информации, публикуемой на Сайте. Сайт предоставляются «как есть».</p>
    <p>7.2. Цитирование материалов Сайта разрешается только при обязательном указании активной гиперссылки на Сайт. Полное заимствование документа не разрешается и является нарушением российского и международного законодательства.</p>
    <p>7.3. Любая информация и/или материалы (в том числе загружаемые программы, какие-либо инструкции и руководства к действию и т.д.), доступ к которым Пользователь получает с использованием Сайта, Пользователь может использовать на свой собственный страх и риск и самостоятельно несет ответственность за возможные последствия использования указанных информации и/или материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим лицам, за потерю данных или любой другой вред.</p>
    <p>7.4. Сайт не несет ответственности за любые виды убытков, произошедшие вследствие использования Пользователем материалов Сайта.</p>
    
    <h2>8. ИНЫЕ ПОЛОЖЕНИЯ</h2>
    
    <p>8.1. Комментарии и вопросы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.</p>
    <br>
    
    <p><em>Дата публикации: 25.07.2017 г.</em></p>
</div>