
<form action="/api/auth/email-activate" method="post">
    <input type="hidden" name="name" value="Vasya" id="myt">
    <button type="submit" id="act">Activate</button>
</form>

<script src='/js/activate.js'></script>