<div class="form-block">
    <h1>Знайти юзера</h1>
    <form action="/api/payment/finduser" method="post">
    <input type="text" name="email" placeholder="Введить email юзера">


    <button type="submit">Знайти</button>
</form>
</div>

