<h1 class="history-page-title">Історія платежів </h1>
<ul class="payment-list">
    
</ul>




<script>
//const formatDate = (sum) => {
    // payingDay = new Date()
    //const date = new Date(new Date(sum).getTime())
    //console.log(`sum: ${sum}`)
      //let dd = date.getDate()
      //if (dd < 10) dd = '0' + dd
    
      //let mm = date.getMonth() + 1
      //if (mm < 10) mm = '0' + mm
    
      //let yy = date.getFullYear() % 100
      //if (yy < 10) yy = '0' + yy
    
      //return dd + '.' + mm + '.' + yy
//}
    const pageTitle = document.querySelector("h1.history-page-title")
    const paymentList = document.querySelector("ul.payment-list")
    const user = getUser()
    async function getUser() {
        const response = await fetch("http://localhost:5000/api/payment/payhistory", { 
            method: "GET", 
            headers: { "Content-Type": "application/json" }
        })
        const data = await response.json()
        const payments = data.userData.payments
        const nicname = data.userData.nicname
        console.log(payments)
        console.log(nicname)
        if(!user) {
            pageTitle.textContent = `Ви не авторизовані! Виповніть вхід`
        } else {
            pageTitle.textContent = `Історія платежів ${nicname}`
       // }

        //console.log(`${user.nicname} ${user.payments[1].number}`)
        //{{!-- console.log(user) --}}
            for (i=payments.length-1;i>=0;i--) {
                //console.log(user.payments[i].number)
                //console.log(d)
                //document.write('<div>user.payments[i].number</div>')
                //d = new Date(user.payments[i].date)
                const d = moment(payments[i].date).format()
                //console.log(`d: ${d}`)
                // создаем элемент
                var elem = document.createElement("li");
                // создаем для него текст
                var elemText = document.createTextNode(`
                     Плата за послугу "Генератор тегів"
                    №${payments[i].number}
                    дата: ${moment(d).format('DD.MM.YY')} /
                    сума: ${payments[i].sum}.00(грн)`)
                // добавляем текст в элемент в качестве дочернего элемента
                elem.appendChild(elemText);
                // добавляем элемент в блок div
                paymentList.appendChild(elem)
                
            }
        }
    }

    

    

</script>