<div class="user-links user-links-uload1">
        {{!-- <a href="/api/auth/continueWork" class="user-link">Знову</a> --}}
        <a href="/api/system/start" class="user-link">Знову</a>
        <a href="/api/auth/logout" class="user-link" id="logout1">Вийти</a>
        {{!-- <a href="/enter" class="user-link">Вхід</a>
        <a href="/registration" class="user-link">Реєстрація</a> --}}
    </div>