<div class="container-form">
    <h1>Панель управління</h1>

    <div class="row">
        <div class="form-block form-admin-panel">
            <h2>Запис оплати</h2>
            <form action="/api/admin/writepaying" method="post" id="regform">
                    <input type="text" name="email" placeholder="Введить email юзера">
                    <input type="number" name="sumpay" placeholder="Введить суму оплати юзера">
                    <button type="submit">Вписати оплату</button>
            </form>
        </div>

        <div class="form-block  form-admin-panel">
            <h2>Знайти юзера</h2>
            <form action="/api/admin/finduserpage" method="post">
                <input type="text" name="email" placeholder="Введить email юзера">
                <button type="submit">Знайти</button>
            </form>
        </div>

        <div class="form-block  form-admin-panel">
            <h2>Історія оплат юзера</h2>
            <form action="/api/admin/finduserpayments" method="post">
                <input type="text" name="email" placeholder="Введить email юзера">
                <button type="submit">Знайти</button>
            </form>
        </div>

        <div class="form-block  form-admin-panel">
            <h2>Видалити користувача</h2>
            <form action="/api/admin/deleteuser" method="post">
                <input type="text" name="email" placeholder="Введить email юзера">
                <button type="submit" id="delus">Видалити</button>
            </form>
        </div>

        <div class="form-block  form-admin-panel">
            <h2>Лист про оплату</h2>
            <form action="/api/admin/sendendpay" method="post" id="regform1">
                <button type="submit">Нагадати про оплату</button>
            </form>
        </div>

        <div class="form-block  form-admin-panel">
            <h2>Перейти до чату</h2>
            <form action="/adminchat" method="get" target="_blank">
                <button type="submit">Перейти</button>
                {{!-- <input type="number" name="countuser" placeholder="Введить кількість користувачів"> --}}
                {{!-- <a href="http://localhost:5000/chats/adminchat">Перейти</a> --}}
            </form>
        </div>

        <div class="form-block  form-admin-panel">
            <h2>Список користувачів</h2>
            <form action="/api/admin/usersList" method="get">
                {{!-- <input type="number" name="countuser" placeholder="Введить кількість користувачів"> --}}
                <button type="submit">Вивести</button>
            </form>
        </div>
    </div>
</div>

<script>
    const btnUserDel = document.getElementById('delus')
    btnUserDel.onclick = function (e) {
        if (!confirm(`Ви певні, що бажаєте видалити з бази даних цього користувача? 
            Після натиску кнопки "ok" всі данні користувача будуть видалені.` )
            ){
        e.preventDefault()
        }
    }


    form.addEventListener('submit', function(e) {
        e.preventDefault()
        if (input.value) {
          socket.emit('chat message', {msg: `{{nicname}}: ${input.value}`, room: '{{rooms}}'})
          input.value = ''
        }
        //async function saveChatData(name) {
        //  const response = await fetch(`/saveChatData`, { 
        //      method: "POST", 
        //      headers: { "Accept": "application/json", "Content-Type": "application/json" },
        //      body: JSON.stringify({
        //          room: `${room}`,
        //          message: `${nicname}: ${input.value}`
        //      })
        //  })
        //  if (response.ok === true) return console.log('data was send')
        //  return console.log('server send bad response')
        //}
        //saveChatData()
      })
</script>
