<h1>Вибрати чат</h1>

<div><a href="/chats/executive">Executive</a></div>
<div><a href="/chats/engineer">Engineer</a></div>

<p>Create Rooms</p>
<div>
  <input id="input-room-name" style="width: 130px">
  <button onclick="createRoom()" style="font-size: 12px; width: 105px; padding: 5px">Create room</button>
  <div id="inner"></div>
</div>


<script>
  const rooms = '{{rooms}}'
  console.log(`rooms: ${rooms}`)
  const roomList = rooms.split(',')
  function createRoom(){
    const name = document.getElementById('input-room-name').value
    const inner = document.getElementById('inner')
    inner.innerHTML += `<a href="/chats/rooms?name=${name}">${name}</a><br /><br />`
    httpGet(name)
  }

  function httpGet(name){
    const xmlHttp = new XMLHttpRequest()
    xmlHttp.open('GET', `/chats/addRoom?name=${name}`)
    xmlHttp.send(null)
    return xmlHttp.responseText
  }

  for(const name of roomList){
    if(name != '')
      inner.innerHTML += `<a href="/chats/rooms?name=${name}">${name}</a><br /><br />`
    
  }
</script>