<h1 class="title-tv" id="titletv">Подивиться відео-інструкцію</h1>
<section class="tv" id="tv">
    <div class="player">
        {{!-- <img src="/img/smart-tv-1280-830.png" width="100%" alt="smart-tv">    --}}
        <img src="/img/smart-tv.png" alt="smart-tv">   
        <video src="/img/shevchenko.mp4" controls></video>
        <label class="switch light-switch">
            <input type="checkbox" id="check-blackout">
            <span class="slider round "></span>
        </label>
    </div>
    
</section>
<div class="user-links">
    <a href="/enter" class="user-link">Вхід</a>
    <a href="/registration" class="user-link">Реєстрація</a>
</div>
    
        
<script src="/js/mainPage.js"></script>

{{!-- <script src="/js/index.js"></script> --}}
