<h1 class="history-page-title">Історія платежів </h1>
<ul class="payment-list">
    
</ul>




<script>

    const searchStringEm = new URLSearchParams(window.location.search)

    const idpay = searchStringEm.get('id')
    const pageTitle = document.querySelector("h1.history-page-title")
    const paymentList = document.querySelector("ul.payment-list")
    const user = getUser()
    async function getUser() {
        const response = await fetch(`http://localhost:5000/api/admin/payhistory_foradm?id=${idpay}`, { 
            method: "GET", 
            headers: { "Content-Type": "application/json" }
        })
        const data = await response.json()
        const payments = data.userPaymentsData.payments
        const nicname = data.userPaymentsData.nicname
        //console.log(payments)
        //console.log(nicname)
        if(!user) {
            pageTitle.textContent = `Ви не авторизовані! Виповніть вхід`
        } else {
            pageTitle.textContent = `Історія платежів ${nicname}`
       
            for (i=payments.length-1;i>=0;i--) {
                
                const d = moment(payments[i].date).format()
                // создаем элемент
                var elem = document.createElement("li");
                // создаем для него текст
                var elemText = document.createTextNode(`
                     Плата за послугу "Генератор тегів"
                    №${payments[i].number}
                    дата: ${moment(d).format('DD.MM.YY')} /
                    сума: ${payments[i].sum}.00(грн)`)
                // добавляем текст в элемент в качестве дочернего элемента
                elem.appendChild(elemText);
                // добавляем элемент в блок div
                paymentList.appendChild(elem)
            }
        }
    }

    

    

</script>