<div class="cabinet-block">
    <h1 class="cabinet-title">Дані користувача userdata</h1>
    <h2  class="msg">{{msg}}</h2>
    <div class="data-block">
        <ul class="data-fields">
            <li class="field"><span>Користувач:</li>
            <li class="field"><span>Email:</span></li>
            <li class="field">userID:</li>
            <li class="field">Дата реєстрації:</li>
            <li class="field">Статус: </li>
            <li class="field">Генератор тегів: </li>
            <li class="field">Баланс коштів: </li>
            <li class="field">Остання оплата: </li>
            <li class="field">Історія оплат </li>
            <li class="field">ОПЛАТА ПОСЛУГИ </li>
        </ul>
        <ul class="users-data">
            <li class="field field-user">1</li>
            <li class="field field-email">1</li>
            <li class="field field-userid">1</li>
            <li class="field field-registrDate">1</li>
            <li class="field field-status">1</li>
            <li class="field field-active-generator">1</li>
            <li class="field field-balance">1</li>
            <li class="field field-lastPaying">1</li>
            <li class="field field-history"><a href=`#` class="linkhistory">1</a><i class="fa-regular fa-hand"></i></li>
            <li class="field field-pay"><a href="/payhistory" class="linkpay">1</a><i class="fa-regular fa-hand"></i></li>
        </ul>
    </div>
</div>

<input type="hidden" id="idval" value={{inputIdVal}}>

<script src="/js/viewUserData/userDataById"></script>