<div class="wrapper-chat">
    <button onclick="sendMSGToAll()">Send Message To All</button>
    <ul id="messages-chat">

    </ul>
    <button id="createLink">Create Link</button>
    <form id="form-chat" action="">
      <input id="input-chat" autocomplete="off" /><button>Send</button>
    </form>
</div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Autoplay is allowed. -->
{{!-- <iframe src="/sound/sound.mp3" allow="autoplay"> --}}
    {{!-- <script src="/js/soundmanager2.js"></script> --}}
<script src="/js/adminchat.js"></script>
