.row-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.item-content {
    width: calc(33.33% - 30px);
    margin: 15px;
}

.item-control {
    width: calc(50% - 30px);
    margin: 15px;
}


element.style {
}
#count {
    display: inline-block;
    width: 45px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    padding-left: 3px;
    border: 1px solid gray;
}